.App {
    text-align: center;
    
  
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
    
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #c56d08;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    
   
  }
  
  .grid{
      display: grid;
      grid-template-columns: auto 0%;
      grid-template-rows: 500px auto 200px;
      grid-template-areas: 
          'main leftbar'
          'footer footer'
          ;
  
  }
  
  .page-leftbar{
      grid-area: leftbar;
  }
  
  .page-main{
      grid-area: main;
  }
  
  .page-footer{
      grid-area: footer;

  }
  
  .content{
      background-color: rgb(255, 215, 106);
     
      box-sizing: border-box;
  }
  
  .button{
      size: 50px;
      border: black;
      color: white;
      padding: 5px 5px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
  }
  
  .myButton {
      box-shadow:inset 0px 1px 0px 0px #fce2c1;
      background-color:#ffc477;
      border:1px solid #ffffff;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:15px;
      font-weight:bold;
      padding:6px 24px;
      text-decoration:none;
      text-shadow:0px 1px 0px #000000;
  }
  .myButton:hover {
      background-color:#ff5e00;
      color:#000000;
  }
  .myButton:active {
      position:relative;
      top:1px;
  }
  
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }