@import 'https://fonts.googleapis.com/css?family=Prompt';
body {
  margin: 0;
  font-family: 'Prompt', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Prompt', sans-serif;
}
